.ttt-cell {
  position: relative;
  width: 64px;
  height: 64px;
  line-height: 64px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  color: #000;
  background: #fff;
  font-size: 60px;
  float: left;
  text-align: center;
  &.active {
    background-color: rgba(122, 255, 0, .5);
  }
}
